{% extends 'templates/app.twig' %}

	{% block content %}
<div class="row">
	<div class="col-md-10">
		<div id="skilllist">
			<div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{ skill.name }}</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small> {{ skill.created_at }} </small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="panel-body">
                <div class="login-form" >
          <form action="{{ path_for('skills.edit', {'id': skill.id }) }}" method="post" autocomplete="off"> 
            
            
            <div class="form-group {{ errors.name ? 'has-error' : '' }}">
              <input type="text" class="form-control login-field"  value="{{skill.name}}" name="name" placeholder="Enter skill name" >
              <label class="login-field-icon fui-user" for="login-first-name"></label>
              {% if errors.name %}
              	<span class="help-block">{{ errors.name | first }}</span>
              {% endif %}
            </div>

              <div class="form-group {{ errors.url ? 'has-error' : '' }}">
              <input type="text" class="form-control login-field"  value="{{skill.url}}" name="url" placeholder="Enter skill url" >
              <label class="login-field-icon fui-user" for="login-first-name"></label>
              {% if errors.url %}
              	<span class="help-block">{{ errors.url | first }}</span>
              {% endif %}
            </div>

            
            <div class="form-group {{ errors.description ? 'has-error' : '' }}">
              <textarea  rows="8" class="form-control login-field"  value="{{skill.description}}" name="description" placeholder="Enter description" > </textarea>
              
              <label class="login-field-icon fui-user" for="login-last-name"></label>
              
               {% if errors.description %}
              	<span class="help-block">{{ errors.description | first }}</span>
              {% endif %}	
            </div>
           

           
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            
             {{ csrf.field | raw }}
            </form>
          </div>
            </div>
            
        </div>
        
       </div>
    </div>
		<div class="text-center">
            <a href="{{ path_for('skills.add') }}" class="btn btn-primary">New skill</a>
        </div>
    </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        </div>
        <div class="col-md-1">
        </div>
    </div>
{% endblock %}
